{% extends 'tweets/base.html' %}
{% block user %}
{{ user.get_username }}
{% endblock %}
{% block content %}
<div class="api" id="api" data-url="{% url 'api:Retreive' object.id %}">

</div>
<div class="modal fade" id="replymodel" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <form action="" id="replyform" class="form">
                {% csrf_token %}
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLongTitle">Modal title</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <label for="replytextarea">Reply-content</label>
                    <textarea name="content" id="replytextarea" cols="60" rows="5">
                    </textarea>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary">Reply</button>
                </div>
            </form>
        </div>

    </div>
</div>

<script>
    function prependData(tweets) {
        console.log(tweets)
        console.log(tweets.length)
        if (tweets.length == 1) {
            value = tweets[0];
            console.log("value");
            // console.log(value.user.url);
            // console.log(value.user.username);
            var l = value.id;
            // console.log(typel);
            $("#api").prepend("Posted by: " +
                "<a class='mr-2' href='" + value.user.url + "'>" + value.user
                .username +
                "</a>" + "<p class='custom'>" +
                value.content + "</p>" +
                " " + value.timesince +
                "</p>" +
                "<a class='mx-2' href='" + "/tweets/" + value.id + "/" + "'>" + " View</a>" +
                "<a class='mx-2' href='" + "/tweets/" + value.id + "/update/" + "'>" +
                " Update</a>" +
                "<a class='mx-2' href='" + "/tweets/" + value.id + "/delete/" + "'>" +
                " Delete</a>" +
                "<a class='retweetbtn mx-2' href='" + "/api/" + value.id + "/retweet/" + "'>" +
                " Retweet</a>" + "<a class='replybtn mx-2' href='' data-parent-username='" + value
                .user.username + "' data-parent-id='" + value.id +
                "'>" + " Reply</a>" +
                " <hr > ")
            return ""
        } else if (typeof (tweets.length) == "undefined") {
            value = tweets;
            var l = value.id;
            // console.log(typel);
            if (value.is_liked) {
                var verb = "Unlike"
            } else {
                var verb = "like"
            }
            $("#api").prepend("<h5>Retweeted by : " + value.user.username + " " + value.timesince +
                " </h5>" + "<p class='custom'>" +
                value.parent.content + "</p>" +
                "<p>" + "Posted by: " +
                "<a class='mr-2' href='" + value.parent.user.url + "'>" + value.parent.user
                .username +
                "</a>" +
                ", " + value.parent.timesince +
                "</p>" +
                "<a class='mx-2' href='" + "/tweets/" + value.id + "/" + "'>" + " View</a>" +
                "<a class='mx-2' href='" + "/tweets/" + value.id + "/update/" + "'>" +
                " Update</a>" +
                "<a class='mx-2' href='" + "/tweets/" + value.id + "/delete/" + "'>" +
                " Delete</a>" +
                "<a class='retweetbtn mx-2' href='" + "/api/" + value.id + "/retweet/" + "'>" +
                " Retweet</a>" + "<a class='replybtn mx-2' href='' data-parent-username='" + value
                .user.username + "' data-parent-id='" + value.id +
                "'>" + " Reply</a>" +
                " <hr > ")
            return ""
        }
        $.each(tweets, function (key, value) {
            console.log(value);
            if (value.parent && value.is_retweet && !value.is_reply) {
                var l = value.id;
                // console.log(typel);
                if (value.is_liked) {
                    var verb = "Unlike"
                } else {
                    var verb = "like"
                }
                $("#api").prepend("<h5>Retweeted by : " + value.user.username + " " + value.timesince +
                    " </h5>" + "<p class='custom'>" +
                    value.parent.content + "</p>" +
                    "<p>" + "Posted by: " +
                    "<a class='mr-2' href='" + value.parent.user.url + "'>" + value.parent.user
                    .username +
                    "</a>" +
                    ", " + value.parent.timesince +
                    "</p>" +
                    "<a class='mx-2' href='" + "/tweets/" + value.id + "/" + "'>" + " View</a>" +
                    "<a class='mx-2' href='" + "/tweets/" + value.id + "/update/" + "'>" +
                    " Update</a>" +
                    "<a class='mx-2' href='" + "/tweets/" + value.id + "/delete/" + "'>" +
                    " Delete</a>" +
                    "<a class='retweetbtn mx-2' href='" + "/api/" + value.id + "/retweet/" + "'>" +
                    " Retweet</a>" + "<a class='replybtn mx-2' href='' data-parent-username='" + value
                    .user.username + "' data-parent-id='" + value.id +
                    "'>" + " Reply</a>" +
                    " <hr > ")
            } else if (value.parent && value.is_reply) {

                $("#api").append("<h5>Replied by : " + value.user.username + " " + value.timesince +
                    " </h5>" + "<p class='custom'>" +
                    value.content + "</p>" +
                    "<p class='border-bottom border-secondary w-50'></p>" +
                    "<p>" + "Posted by: " +
                    "<a class='mr-2' href='" + value.parent.user.url + "'>" + value.parent.user
                    .username +
                    "</a>" + "<p class='custom'>" +
                    value.parent.content + "</p>" +
                    ", " + value.parent.timesince +
                    "</p>" +
                    "<a class='mx-2' href='" + "/tweets/" + value.id + "/" + "'>" + " View</a>" +
                    "<a class='mx-2' href='" + "/tweets/" + value.id + "/update/" + "'>" +
                    " Update</a>" +
                    "<a class='mx-2' href='" + "/tweets/" + value.id + "/delete/" + "'>" +
                    " Delete</a>" +
                    "<a class='retweetbtn mx-2' href='" + "/api/" + value.id + "/retweet/" + "'>" +
                    " Retweet</a>" + "<a class='likebtn mx-2' href='" + "/api/" + value.id +
                    "/like/" + "'>" + verb + "(" + value.likecount + ")" +
                    " </a>" + "<a class='replybtn mx-2' href='' data-parent-username='" + value.parent
                    .user.username + "' data-parent-id='" + value
                    .parent.id +
                    "'>" + " Reply</a>" +
                    " <hr > ")

            } else {
                var l = value.id;
                // console.log(typel);
                $("#api").prepend("Posted by: " +
                    "<a class='mr-2' href='" + value.user.url + "'>" + value.user
                    .username +
                    "</a>" + "<p class='custom'>" +
                    value.content + "</p>" +
                    " " + value.timesince +
                    "</p>" +
                    "<a class='mx-2' href='" + "/tweets/" + value.id + "/" + "'>" + " View</a>" +
                    "<a class='mx-2' href='" + "/tweets/" + value.id + "/update/" + "'>" +
                    " Update</a>" +
                    "<a class='mx-2' href='" + "/tweets/" + value.id + "/delete/" + "'>" +
                    " Delete</a>" +
                    "<a class='retweetbtn mx-2' href='" + "/api/" + value.id + "/retweet/" + "'>" +
                    " Retweet</a>" + "<a class='replybtn mx-2' href='' data-parent-username='" + value
                    .user.username + "' data-parent-id='" + value.id +
                    "'>" + " Reply</a>" +
                    " <hr > ")
            }
        });
    }

    function hashlinks() {
        $(".custom").each(function () {
            var val = $(this).html()
            var hastagregex = /(^|\s)#([\w\d-]+)/g
            var useregex = /(^|\s)@([\w\d-]+)/g
            var newtext = val.replace(hastagregex, "$1<a href='/tags/$2/'>#$2</a>")
            newtext = newtext.replace(useregex, "$1@<a href='profiles/$2/'>$2</a>")
            $(this).html(newtext);
            // console.log(val);
            // console.log("Hello");
        });
    }
    $(document.body).on('click', ".likebtn", function (e) {
        e.preventDefault();
        var element = $(this)
        $.ajax({
            url: element.attr("href"),
            method: "GET",
            success: function (data) {
                console.log(data);
                if (data) {
                    var l = element.text()
                    console.log(element);
                    element.text("Liked")
                } else {
                    element.text("like")
                }
            },
            error: function (data) {
                console.log("error");
                console.log(data);

            }
        });
    });
    $(document.body).on('click', '.replybtn', function (e) {
        e.preventDefault();
        var id = $(this).attr("data-parent-id");
        // console.log(id);
        var parentname = $(this).attr("data-parent-username");
        // console.log(parentname);
        $(".modal-body #replytextarea").after("<input type='hidden' name='parent_id' value='" +
            id + "'>" + "<input type='hidden' name='is_reply' value='" +
            true + "'>");
        $(".modal-body #replytextarea").text("@" + parentname + " ");
        $("#replymodel").modal({})
        $('#replymodel').on('shown.bs.modal', function () {
            $('.modal-body #replytextarea').focus();
        })
    });
    $(document).ready(function () {
        console.log("Hi Hello Vanakkam");
        $.ajax({
            url: $(".api").attr("data-url"),
            method: "GET",
            success: function (data) {
                console.log(data);
                // $('#api').empty();
                prependData(data);
            },
            error: function (data) {
                console.log("err");
                console.log(data);
            }
        });
        $("#replyform").on('submit', function (event) {
            event.preventDefault();
            var formdata = $(this).serialize();
            console.log(formdata);
            // console.log("Hi hello vanakkam......");
            $.ajax({
                url: "{% url 'api:createapi' %}",
                method: "POST",
                data: formdata,
                beforeSend: function () {
                    $("#replymodel").modal("hide");
                },
                success: function (data) {
                    console.log(data);
                    //this create data and it return (single object we can prepend this to already ecisting div)
                    // $('#api').empty(); //worst method....use prepend
                    prependData(data); //worst method....use prepend
                    //instead fetching the tweets we can use the json which coming after
                    //create and use prepend to the div by this way no call again to restapi
                    hashlinks();
                },
                error: function (data) {
                    console.log("error");
                    console.log(data);
                }
            });
            // $("#CreateForm").hide();
            // console.log(a);
            // console.log("Made stopped");
        });
    });

    $(document.body).on('click', '.retweetbtn', function (e) { //dyamic selectors created by jquery
        e.preventDefault();
        console.log("Yes...");
        $.ajax({
            url: $(this).attr("href"),
            method: "GET",
            success: function (data) {
                console.log(data);
                // $('#api').empty();
                prependData(data);
            },
            error: function (data) {
                console.log("err");
                console.log(data);
            }
        });
    });
</script>
{% endblock %}