{% load crispy_forms_tags %}
<form {% if id %} id="{{id}}" {% endif %} action="{% if action_url %} {{action_url}} {% endif %}" method="POST">
    {% csrf_token %}
    <div class="row mb-3">
        <div class="col-sm-8">
            {{form|crispy}}
        </div>
        <div class="col-sm-4 mt-5">
            <input class="btn btn-primary btn-sm" type="submit" value="Tweet">
            <br>
            <br>
            <span class="text-danger">
                <span id="countchar">
                    140
                </span>
                characters left..
            </span>
        </div>
    </div>

</form>