{% extends 'tweets/base.html' %}
<!-- {% include 'tweets/bootstrap.html' %} -->
{% block title %}All Tweet{% endblock %}
{% block user %}
<h4>
    Users
</h4>
<br>
{% for user in users %}
<a href="{% url 'profiles:UserDetail' user.username %}">{{user.username}}</a>
<br>
{% endfor %}
{% endblock %}
{% block content %}
{% if not request.GET.q %}

{% include 'tweets/baseForm.html' with form=form action_url=create_url id="CreateForm"%}

{% endif %}
<div id="api" data-url="">

</div>

<script>
    function hashlinks() {
        $(".custom").each(function () {
            var val = $(this).html()
            var hastagregex = /(^|\s)#([\w\d-]+)/g
            var useregex = /(^|\s)@([\w\d-]+)/g
            var newtext = val.replace(hastagregex, "$1<a href='/tags/$2/'>#$2</a>")
            newtext = newtext.replace(useregex, "$1@<a href='profiles/$2/'>$2</a>")
            $(this).html(newtext);
            // console.log(val);
            // console.log("Hello");
        });
    }

    function getParameterByName(name, url) {
        if (!url) url = window.location.href;
        name = name.replace(/[\[\]]/g, '\\$&');
        var regex = new RegExp('[?&]' + name + '(=([^&#]*)|&|#|$)'),
            results = regex.exec(url);
        if (!results) return null;
        if (!results[2]) return '';
        return decodeURIComponent(results[2].replace(/\+/g, ' '));
    }

    var check = getParameterByName("q");
    // console.log("dfghjkjhgfdfghjklkjhgfdfghjk");
    // console.log(check);

    function parseTweets(tweets) {
        if (tweets.length == 0) {
            $("#api").append("<p>No Tweets Found</p>")
        } else {
            $.each(tweets, function (key, value) {
                // console.log(key);
                // console.log(value.user.username);
                // console.log(value.content);
                // console.log(value.id);
                console.log(value.is_liked);
                if (value.is_liked) {
                    var verb = "Unlike"
                } else {
                    var verb = "like"
                }
                if (value.parent && value.is_retweet && !value.is_reply) {
                    var l = value.id;
                    // console.log(typel);
                    $("#api").append("<h5>Retweeted by : " + value.user.username + " " + value.timesince +
                        " </h5>" + "<p class='custom'>" +
                        value.parent.content + "</p>" +
                        "<p>" + "Posted by: " +
                        "<a class='mr-2' href='" + value.parent.user.url + "'>" + value.parent.user
                        .username +
                        "</a>" +
                        ", " + value.parent.timesince +
                        "</p>" +
                        "<a class='mx-2' href='" + "/tweets/" + value.id + "/" + "'>" + " View</a>" +
                        "<a class='mx-2' href='" + "/tweets/" + value.id + "/update/" + "'>" +
                        " Update</a>" +
                        "<a class='mx-2' href='" + "/tweets/" + value.id + "/delete/" + "'>" +
                        " Delete</a>" +
                        "<a class='retweetbtn mx-2' href='" + "/api/" + value.id + "/retweet/" + "'>" +
                        " Retweet</a>" + "<a class='likebtn mx-2' href='" + "/api/" + value.id +
                        "/like/" + "'>" + verb + "(" + value.likecount + ")" +
                        " </a>" + "<a class='replybtn mx-2' href='' data-parent-username='" + value.parent
                        .user.username + "' data-parent-id='" + value
                        .parent.id +
                        "'>" + " Reply</a>" +
                        " <hr > ")
                } else if (value.parent && value.is_reply) {

                    $("#api").append("<h5>Replied by : " + value.user.username + " " + value.timesince +
                        " </h5>" + "<p class='custom'>" +
                        value.content + "</p>" +
                        "<p class='border-bottom border-secondary w-50'></p>" +
                        "<p>" + "Posted by: " +
                        "<a class='mr-2' href='" + value.parent.user.url + "'>" + value.parent.user
                        .username +
                        "</a>" + "<p class='custom'>" +
                        value.parent.content + "</p>" +
                        ", " + value.parent.timesince +
                        "</p>" +
                        "<a class='mx-2' href='" + "/tweets/" + value.id + "/" + "'>" + " View</a>" +
                        "<a class='mx-2' href='" + "/tweets/" + value.id + "/update/" + "'>" +
                        " Update</a>" +
                        "<a class='mx-2' href='" + "/tweets/" + value.id + "/delete/" + "'>" +
                        " Delete</a>" +
                        "<a class='retweetbtn mx-2' href='" + "/api/" + value.id + "/retweet/" + "'>" +
                        " Retweet</a>" + "<a class='likebtn mx-2' href='" + "/api/" + value.id +
                        "/like/" + "'>" + verb + "(" + value.likecount + ")" +
                        " </a>" + "<a class='replybtn mx-2' href='' data-parent-username='" + value
                        .parent
                        .user.username + "' data-parent-id='" + value
                        .parent.id +
                        "'>" + " Reply</a>" +
                        "<hr> ")

                } else {
                    var l = value.id;
                    // console.log(typel);
                    $("#api").append("<p class='custom'>" +
                        value.content + "</p>" +
                        "<p>" + "Posted by: " +
                        "<a class='mr-2' href='" + value.user.url + "'>" + value.user.username +
                        "</a>" +
                        ", " + value.timesince +
                        "</p>" +
                        "<a class='mx-2' href='" + "/tweets/" + value.id + "/" + "'>" + " View</a>" +
                        "<a class='mx-2' href='" + "/tweets/" + value.id + "/update/" + "'>" +
                        " Update</a>" +
                        "<a class='mx-2' href='" + "/tweets/" + value.id + "/delete/" + "'>" +
                        " Delete</a>" +
                        "<a class='retweetbtn mx-2' href='" + "/api/" + value.id + "/retweet/" + "'>" +
                        " Retweet</a>" + "<a class='likebtn mx-2' href='" + "/api/" + value.id +
                        "/like/" + "'>" + verb + "(" + value.likecount + ")" +
                        " </a>" + "<a class='replybtn mx-2' href='' data-parent-username='" + value
                        .user.username + "' data-parent-id='" + value.id +
                        "'>" + " Reply</a>" +
                        "<hr>")
                }
            });
        }
    }

    function fetchingTweets() {
        $.ajax({
            url: "{% url 'api:listview' %}",
            method: "GET",
            data: {
                "q": check,
            },
            success: function (data) {
                // console.log(data);
                console.log("came....")
                parseTweets(data)
                hashlinks();
            },
            error: function (data) {
                console.log("Error");
                console.log(data);
            }

        });
    }
    console.log("CAme inside again and again");
    fetchingTweets();
</script>
{% endblock %}